@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #2C3930;
    --color-secundario: #A27B5C;
    --color-terciario:#DCD7C9;
    --color-navhover:#FBFBFB;
    --color-hover:white;

    --fuente-primaria: 'Montserrat', sans-serif;
    --fuente-secundaria: 'Krona One', sans-serif;
}


*{ /* asterisco para que se aplique a todos los elementos */
    padding: 0; /* quita el padding por defecto de todos los buscadores*/
    margin: 0; /* quita el margin por defecto de todos los buscadores*/
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box; /* para que el boxing de los hijos no se salgan del padre */
}

.titulo-detaque{
    color: var(--color-terciario);
}

.presentacion{
    display:flex;/* usa flexbox para organizar las cajas */
    align-items: center; /* alinea los elementos verticalmente */
    padding:8% 15%; /* padding para que no se pegue a los bordes */
    justify-content: space-between; /* separa los elementos horizontalmente */
    gap: 82px;
}

.presentacion-contenido{
    width: 50%;
    display: flex;
    flex-direction: column; /* para que los elementos se organicen en columna */
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-secundaria);
}

.header{
    padding:2% 0% 0% 15%;
}

.header__nav{
    display:flex;
    gap: 80px;
}

.header_nav_link{
    font-size: 1.5rem;
    font-family: var(--fuente-primaria);
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.header_nav_link:hover{
    color: var(--color-navhover);
}

.presentacion__contenido__parrafo{
    font-size: 1.5rem;
    font-family: var(--fuente-primaria);
    font-weight: 400;
}

.presentacion__enlaces{
    display: flex;
    /* justify-content: space-between; cambio de espacio entre rows a column ya no funciona */
    flex-direction: column;
    align-items: center; /* alinea los elementos verticalmente */
    gap: 32px;
}

.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.presentacion__enlaces__link img{
    width: 32px; /* Ajusta el tamaño del ícono */
    height: 32px; /* Asegura que sea cuadrado */
    object-fit: contain;
}

.presentacion__enlaces__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fuente-secundaria);
    font-weight: 400;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
    cursor: pointer;
}

.parrafo_nombre:hover{
    color: white;
}

.presentacion__imagen{
    width: 50%; /* O ajusta según necesidad */
    aspect-ratio: 1 / 1; /* Mantiene la imagen siempre cuadrada */
    object-fit: cover; /* Asegura que la imagen se ajuste sin deformarse */
    display: block;
    margin: 0 auto;
}
.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;
    }

    .header__nav{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion-contenido{
        width: auto;
    }


}
@media (max-width: 768px) {
    .header {
        padding: 5%; /* Reduce el padding para más espacio */
    }
    .header__nav {
        display: flex;
        align-items: center; /* Centra los enlaces */
        gap: 5%; /* Reduce el espacio entre enlaces */
    }
}